:root {
    --team-name-x: 48px;
    --team-red-color: #D1ED85;
    --team-blue-color: #AACAF9;
    --bottom-score-gradient-x: 293px;
}

/* Sunlight Dream */
@font-face {
    font-family: "Sunlight Dreams";
    src: url("../fonts/Sunlight\ Dreams.otf")
}

/* Main */
.main {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0;
    left: 0;
}
/* Background Image */
.background-image {
    position: absolute;
    width: 2267px;
    height: 2184px;
    background-size: cover;
    background-image: url(static/background.png);
    top: -551px;
    left: -347px;
}
/* Top Banner */
.top-banner {
    position: absolute;
    width: 2062px;
    height: 395px;
    left: 50%;
    transform: translateX(-50%);
    top: -120px;
}

/* Team Name */
.team-name {
    position: absolute;
    top: 53px;
    font-family: "Sunlight Dreams";
    font-size: 48px;
}
.red-team-name { 
    color: var(--team-red-color);
    left: var(--team-name-x);
}
.blue-team-name {
    color: var(--team-blue-color);
    right: var(--team-name-x);
}

/* Round Name */
.round-name-background {
    position: absolute;
    left: 50%;
    top: 116px;
    transform: translateX(-50%);
}
.round-name-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 121px;
    font-family: "Sunlight Dreams";
    font-size: 20px;
}

/* Gameplay Border */
.gameplay-border {
    position: absolute;
    top: 155px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
/* Gameplay Background */
.gameplay-background {
    position: absolute;
    width: 1920px;
    height: 720px;
    top: 186px;
    background-color: red;
    z-index: 1;
}

/* Bottom Triangle */
.bottom-triangle {
    position: absolute;
    bottom: 0;
    left: 953px;
    transform: translateX(-50%);
    width: 535px;
}
.bottom-score-section {
    position: absolute;
    bottom: 0;
    left: 973px;
    transform: translateX(-50%);
}
.middle-line {
    position: absolute;
    width: 2px;
    height: 1080px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: lightblue;
}

/* Bottom Score Gradient */
.bottom-score-gradient {
    position: absolute;
    bottom: 87px;
}
.bottom-score-gradient-left { left: var(--bottom-score-gradient-x); }
.bottom-score-gradient-right { right: var(--bottom-score-gradient-x); }

/* Score Bar */
.score-bar-leaf {
    position: absolute;
    bottom: 121px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.score-bar-line {
    position: absolute;
    bottom: 143px;
    background-color: #5C4C44;
    width: 900px;
    height: 5px;
    z-index: 1;
}
.score-bar-line-left {
    right: 50%;
    border-radius: 2.5px 0 0 2.5px;
}
.score-bar-line-right {
    left: 50%;
    border-radius: 0 2.5px 2.5px 0;
}

/* Score Difference */
.score-difference {
    position: absolute;
    bottom: 76px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Sunlight Dreams";
    font-size: 36px;
    color: white;
    font-variant-numeric: tabular-nums;
}

/* Scores */
.score {
    position: absolute;
    bottom: 90px;
    font-variant-numeric: tabular-nums;
    font-family: "Sunlight Dreams";
    font-size: 28px;
}
.score-left {
    left: 30%;
    transform: translateX(-50%);
    color: var(--team-red-color);
}
.score-right {
    right: 30%;
    transform: translateX(50%);
    color: var(--team-blue-color);
}