/* Main Background */
.main-background {
    position: absolute;
    top: -120px;
    left: -62px;
    width: 2063px;
    height: 2407px;
    background-image: url(static/background.png);
}

/* Match Winner */
.match-winner {
    position: absolute;
    top: 240px;
    left: 70px;
}

/* Round Name */
.round-name {
    position: absolute;
    top: 360px;
    left: 170px;
    z-index: 1;
}
.round-name-text {
    position: absolute;
    top: 370px;
    left: 523px;
    transform: translateX(-50%);
    font-size: 30px;
    z-index: 1;
}

/* Logo */
.logo {
    position: absolute;
    top: 335px;
    left: 326px;
}

/* Team Name */
.team-name {
    position: absolute;
    left: 1340.5px;
    top: 440px;
    transform: translateX(-50%);
    color: var(--team-blue-color);
    font-size: 57px;
    white-space: nowrap;
}

/* Player Names */
.player-names-container {
    position: absolute;
    top: 621px;
    left: 1083px;
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 46px;
    display: flex;
    color: white;
    width: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
    justify-content: center;
}
.player-names-container > * {
    width: 485px;
    text-align: center;
}
/* Win Gradient */
.win-gradient {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}